
  <ion-tabs >
    <ion-tab [root]="tab2Root" tabTitle="Home" tabIcon="home"></ion-tab>
    <ion-tab [root]="tab1Root" tabTitle="Review" tabIcon="school"></ion-tab>
    <ion-tab [root]="tab3Root" tabTitle="Dictionary" tabIcon="paper"></ion-tab>
    <ion-tab [root]="tab4Root" tabTitle="Settings" tabIcon="settings"></ion-tab>
  </ion-tabs>
