<ion-content padding>
  <div>
  <ion-item >
    <ion-label class="centered"> Amount of reviews: {{reviewCount}}</ion-label>
  </ion-item>
</div>
  <form (ngSubmit)="addVocab()" no-lines>
    <div *ngIf="show">
      <ion-item>
        <ion-label>Word:</ion-label>
        <ion-input type="text" [(ngModel)]="word" name="word" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Reading:</ion-label>
        <ion-input type="text" [(ngModel)]="reading" name="reading" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Meaning:</ion-label>
        <ion-input type="text" [(ngModel)]="meaning" name="meaning" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Sentence(optional):</ion-label>
        <ion-input type="text" [(ngModel)]="sentence" name="sentence"></ion-input>
      </ion-item>
    </div>
    <button ion-button type="submit" block>Add Vocab</button>
  </form>
  <button ion-button type="submit" block (click)="import()">Import Vocab</button>
  <button ion-button type="submit" block (click)="vocabList()">Display All Vocab</button>
</ion-content>
