<ion-content padding>
  <ion-list radio-group>
    <ion-item>
      <ion-label>Light Theme</ion-label>
      <ion-radio checked *ngIf="!light" (click)="click()"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Dark Theme</ion-label>
      <ion-radio *ngIf="light" (click)="click()"></ion-radio>
    </ion-item>
  </ion-list>

  <ion-item *ngIf="!day">
    <ion-label>Delete cards after delay of:</ion-label>
     <ion-input type="number" placeholder="Amount of days" (keyup.enter)="deleteAfterXDays(days.value)" #days> </ion-input>
  </ion-item>
  <ion-item *ngIf="day">
    <ion-label>Delete cards after delay of:</ion-label>
      <ion-input type="number" (keyup.enter)="deleteAfterXDays(days.value)" #days value={{day}}> </ion-input>
      days
  </ion-item>

  <button padding ion-button (click)="export()">Export Vocab</button>
</ion-content>
