//https://gist.github.com/Ryan-Gordon/f8207ee00de1c97cfb3d743863103c9e#file-red-theme-scss

.theme-noir {
  // From here to the next checkpoint is for theming the header - toolbar navbar but not the main content
  transition: all 1.1s ease;
  background-color: #1f2023;

  .bar-button-default,
  .toolbar-title,
  body,
  div,
  p {
    transition: all 1.1s ease;
    color: white;
  }

  .onboard {
    border-color: #1f2023 !important;
  }

  .toggle-checked,
  .toolbar-background {
    transition: all 1.1s ease;
    background-color: #1f2023 !important;
  }
  //From here is where the main content is modified, this includes the backgorund of the page, ion-items and more
  .searchbar-input {
    background-color: #333333 !important;
    border: 1px solid #dedede !important;
    color: white !important;
    box-shadow: none !important;
  }

  .input-wrapper,
  .item,
  .item-inner,
  ion-content,
  ion-footer,
  ion-item,
  ion-label {
    transition: all 1.1s ease;
    background-color: #1f2023 !important;
    background: #1f2023 !important;
    color: white !important;
  }

  ion-list {
    background-color: #1f2023;
  }

  .time {
    background-color: white;
  }

  .item {
    transition: all 1s ease;
    background-color: #1f2023;
    color: white;
  }

  flash-card {
    .back,
    .front {
      background-color: #313538 !important;
    }
  }
}
