<ion-content padding>
  <ng-container *ngFor="let card of vocabs; let i = index" >
    <flash-card *ngIf="i == currentCard" (click)="showButtons()" >
          <div class="flash-card-front" word-wrap padding>
            {{ card.sentence }}
            <br><br><br>
            {{card.vocab}}
            </div>
          <div class="flash-card-back" padding>
            {{ card.sentence }}
            <div class="centered">
            <br><br><br>
            <ruby> {{card.vocab}}
              <rp>(</rp><rt>{{card.reading}}</rt><rp>)</rp>
              </ruby>
            <br><br><br>
            </div>
            <div word-wrap>
            {{card.meanings}}
            </div>
          </div>
        </flash-card>
        <ion-grid *ngIf="shown && i == currentCard" class="buttons">
          <ion-row>
            <ion-col col-6>
              <button ion-button type="submit" block (click)="wrongAnswer(card.vocab); showButtons()">
                Wrong
              </button>
            </ion-col>
            <ion-col col-6>
              <button ion-button type="submit" block (click)="rightAnswer(card.vocab); showButtons()">
                Correct
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
  </ng-container>
</ion-content>
