page-review {
  .banner {
    height: 40px;
    padding: none;
  }

  .centered {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .centered-noReviews {
    width: 100%;
    height: 100%;
    margin: auto;
    position: absolute;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .buttons{
//     position:static;
// bottom:0px;
//     color: red;
  }
}
