page-dictionary {
  .credits {
    margin: auto - 140px;
    height: auto !important;
    height: 100%;
}
.add-vocab{
  float:right;
}
.submit{
  padding-left: 8px;
  padding-right: 8px;
}
  ruby {
  	font-size: 1.5em;
  }
  .headline-md,h1,form{
       display:inline-block !important;
    }

    .headline-md{
    width:80px !important;
    margin-right:15px !important;
    }
    .banner{
      height: 40px;
      padding: none;
      //position: fixed;
    }
    .search{

      button{
        border: 0px;
        z-index: -1;
      }
    }

}
