<ion-content padding>
  <ion-searchbar class="search"
    [(ngModel)]="vocab"
    (keyup.enter)="search(this.vocab)">
  </ion-searchbar>

  <!-- <div class="submit">
    <button ion-button type="submit" block (click)="search(this.vocab)"> Search </button>
  </div> -->

   <ion-list *ngFor="let result of results; let i = index" padding-left>
    <ion-label>
      <b>{{i+1}}.) </b>

      <ruby *ngIf="result.kanji != ''"> {{result.kanji[0]}}
        <rp>(</rp><rt>{{result.reading[0] }}</rt><rp>)</rp>
        </ruby>

        <ruby *ngIf="result.kanji == ''"> {{result.reading[0]}}
          <rp>(</rp><rt></rt><rp>)</rp>
          </ruby>
      <button ion-button class="add-vocab" color="primary" (click)="add(i)">Add</button>
    </ion-label>
      <div *ngFor="let s of result.gloss; let j = index">
        <ion-item text-wrap>
          {{j+1}}.) {{s}}
        </ion-item>
        </div>
      <ion-row *ngIf= "result.kanji && result.kanji.length > 1" padding>
          Other forms:&nbsp;
          <div *ngFor="let k of result.kanji | slice:1;let isLast=last; let i = index" (click)="otherForm(i, result.kanji)">
            {{k}}{{isLast ? '' : ',&nbsp;'}}
          </div>
        </ion-row>
  </ion-list>

  <ion-item class="credits" text-wrap>
    JMdict is a multilingual Japanese dictionary which
    contains English, French and German translations
    for around 176,000 Japanese entries.
    See <a href="http://www.edrdg.org/jmdict/edict.html">JMdict/EDICT‍</a>
    and <a href="http://www.edrdg.org/">EDRDG</a> for details.
  </ion-item>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" distance="1%">
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
