flash-card {
  /*
   *  Flip animation by David Walsh: https://davidwalsh.name/css-flip
   */
  /* entire container, keeps perspective */
  .flip-container {
    perspective: 1000px;
  }
  /* flip the pane when hovered */
  .flip-container.flipped .flipper {
    transform: rotateY(180deg);
  }

  .back,
  .flip-container,
  .front {
    width: 95vw;
    height: 65vh;
    margin: 20px auto;
    justify-content: center !important;
    backface-visibility: hidden;
    overflow: scroll;
  }
  /* flip speed goes here */
  .flipper {
    transition: 0s;
    transform-style: preserve-3d;
    position: relative;
  }
  /* hide back of pane during swap */
  .back,
  .front {
    display: flex;
    align-items: center;
    border: 1px solid #dee2e3;
    position: absolute;
    // top: 0;
    // left: 0;
    font-size: 1.5em;
    margin: 0 auto;
    width: 100%;
    white-space: normal;
    background-color: #ecf0f1;
  }
  /* front pane, placed above back */
  .front {
    // z-index: 2 !important;
  }
  /* back, initially hidden pane */
  .back {
    transform: rotateY(180deg) !important;
  }
}
