<div class="flip-container" (click)="flip()" [class.flipped]="flipper.flipped">
    <div class="flipper">
        <div class="front">
            <ng-content select=".flash-card-front"></ng-content>
        </div>
        <div class="back">
            <ng-content select=".flash-card-back"></ng-content>
        </div>
    </div>
</div>
